@charset "utf-8";
html,body{
	margin: 0px;
	padding: 0px;
	font-size: 84.5%;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #000000;
	background-color: transparent;
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","Osaka", Verdana, "ＭＳ Ｐゴシック", "MS P Gothic" Helvetica, sans-serif;
}
img{
	border: none;
	vertical-align: bottom;
}
body{
	background:#666;
}
h1{
	background:#432;
	color:#fff;
	text-align:center;
	margin:0px;
}
#wrapper{
	width:600px;
	margin:0px auto;
	background:#fff;
}
/*--------- レイアウト ---------*/
#gallery{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.gallery_box{
	width: 180px;
	background: #fff;
	margin: 10px;
	box-shadow: 2px 2px 10px #999;
}
.gallery_box img{
	width: 100%;
	margin: 0px;
}
.gallery_box h3{
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 5px;
	background: #432;
	color: #fff;
}
.gallery_box p{
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 5px;
}
.gallery_box p a{
	display: block;
	width: 80%;
	margin: 10px auto;
	padding: 5px;
	background: #987;
	text-decoration: none;
	color: #fff;
	text-align: center;
	border-radius: 2px;
}
/*今回追加分*/
#gallery_one{
	text-align: center;
	margin: 10px auto;
}
